.landing-page {
  height: 90vh;
}
main {
  padding: 3rem 0;
}
main div {
  margin: 4rem 0;
  display: flex;
  padding: 2rem;
  height: fit-content;
}
.text-sec {
  background-color: rgba(0, 0, 0, 0.3);
}
.card-sec {
  background-color: rgba(240, 240, 240, 0);
}
label {
  text-align: center;
  color: rgba(240, 240, 240, 1);
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 2rem;
}
.landing-txt{
  padding:15vh 5vw 0 5vw;
}
.landing-img{
  width: 45%;
  min-width: 18rem;
  display: block;
  margin: auto;
}
.more {
  font-size: x-large;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}
.more a img{
  transition: ease-out 0.5s;
}
.more a img:hover{
  transform: scale(1.4);
}
.notif{
  margin: 0;
  padding: 1rem;
  border-bottom: solid white;
}
.notif a:hover{
  color: rgb(148, 148, 148);
}
.note-card {
  height: max-content;
  width: max-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 #000;
  transition: ease-out 0.5s;
}
.note-card img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: auto;
}
.note-card p{
  font-size: x-small;
  text-align: left;
}
.note-card:hover{
  transform: scale(1.1);
}
#events-sec {
  padding: 2rem 20vw;
}
.event-btn{
  background-color:rgb(56, 56, 58) ;
  box-shadow: 0 0 1rem 0 #000;
  padding: 0.5rem 3rem;
  width: fit-content;
  font-size: x-large;
  border-radius: 3rem;
  display: block;
  margin: auto;
  transition: ease-out 0.5s;
}
.event-btn:hover{
  transform: scale(1.1);
}
.member-card {
  height: max-content;
  width: 14rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 #000;
  transition: ease-out 0.5s;
}
.member-card img {
  width: 100%;
  border-radius: 1rem;
  height: auto;
  margin-bottom: 1rem;
}
.member-contact{
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}
.member-contact a img{
  width: 1.5rem;
  height: auto;
  margin:0 0.3rem;
}
.member-contact a :hover{
transform: scale(1.1);
}
.member-card:hover {
  transform: scale(1.1);
}
.about-text{
  padding: 3rem;
}
.about-icons img{
  width: 5rem;
}

@media screen and (max-width: 580px) {
  #events-sec {
    padding: 2rem 5vw;
  }
}
