{% extends "manager_base.html" %}
{% block title %}
<title>مدیریت انجمن | انجمن علمی مهندسی برق دانشگاه گیلان</title>
{% endblock %}
{% block main %}

<div class="main-sec d-flex row align-content-start justify-content-between">
    <label for="about-table" class="col-12">مدیریت انجمن</label>
    <table id="about-table" class="col-12">
        <tr>
            <th></th>
            <th class="icon-td">مشاهده</th>
            <th class="icon-td">ویرایش</th>
        </tr>
        <tr>
            <td class="txt-td">درباره انجمن</td>
            <td class="icon-td see"><button><img src="../static/web/img/icons8-eye-50.png" alt=""></button></td>
            <td class="icon-td edit"><button><img src="../static/web/img/icons8-edit-50.png" alt=""></button></td>
        </tr>
    </table>
    <label for="edit-about">ویرایش مشخصات انجمن</label>
    <form action="#" id="edit-about">
        <p>پاراگراف اول درباره انجمن : </p>
        <textarea name="" id="" cols="25" rows="1"></textarea>
        <p>پاراگراف دوم درباره انجمن : </p>
        <textarea name="" id="" cols="25" rows="1"></textarea>
        <br><br>
        <input type="submit" value="ذخیره">
    </form>
</div>
{% endblock %}