{% extends "manager_base.html" %}

{% block title %}
<title>مدیریت انجمن | انجمن علمی مهندسی برق دانشگاه گیلان</title>
{% endblock %}


{% block main %}

<div class="main-sec d-flex row align-content-start justify-content-between">

    <!--<label for="members-table" class="col-9">{{title}}</label>-->
    <a href="{% url create_address %}" class="new-btn col-3 d-flex">
        <p>Add{{model_name}}</p>
        <img src="../static/web/img/icons8-add-50.png" alt="">
    </a>
<div>
    <table id="members-table" class="col-12">
        <tr>
            {% if object_list %}
            {% for item in fields_list %}
                
                    {% if item != 'description' %}
                       <th> {{item}} </th>
                    {% endif %}
                
            {% endfor %}
                
            
                <th class="icon-td" >Show</th>
            {% if not Edit %}
                <th class="icon-td" >Edit</th>
                <th class="icon-td">Delete</th>        
            {% endif %}
        
        </tr>
        {% endif %}
        {% for item in object_list %}
        <tr>
            <td class="txt-td">{{item.id}}</td>
            <td class="txt-td">{{item.title}}</td>
            <td class="txt-td">{{item.tendency}}</td>
            <td class="txt-td">{{item.Unit}}</td>
            <td class="txt-td">{{item.Prerequisite}}</td>
            <td class="txt-td">{{item.Simultaneous}}</td>
            <td class="txt-td">{{item.created_date}}</td>
            <td class="txt-td">{{item.updated_date}}</td>
            <td class="icon-td see">
                <a type="submit" href="{% url Show_Address  item.id %}">
                    <img src="../static/web/img/icons8-eye-50.png" alt="">
                </a>
            </td>
            {% if not Edit %}
            <td class="icon-td edit">
                    <a href="{% url edit_address item.id %}">
                        <img src="../static/web/img/icons8-edit-50.png" alt="">
                    </a>
            </td>             
            <td class="icon-td delete">
                    <form method = "post" action="{% url delete_address item.id %}">
                        {% csrf_token %}
                        {% comment %} Please fix the size of trash button for every manages {% endcomment %}
                        <button type="submit" class = "btn">
                            <img src="../static/web/img/icons8-trash-can-50.png" alt="">
                        </button>
                    </form>
            </td>
            {% endif %}
        </tr>

        {% endfor %}
</table>
</div>

{% comment %} in this part form must load by add icon in the top of the page {% endcomment %}
<div>
    <form method="post" action = '{% url create_address %}' class="form-control">{% csrf_token %}
        {{Form}}
        <input type="submit" value="Save">
    </form>
    </div>

{% endblock %}