<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/profs.css' %}" />
    <link rel="icon" href="{% static 'web/img/main-logo.png' %}">
    <title>اساتید | انجمن علمی مهندسی برق دانشگاه گیلان</title>
</head>

<body>

    <div class="container-fluid">
        <!-- ------------------------------------------------------------------------------------------------------------------ -->
        <!-- header -->
        <header class="d-flex row">
            <div class="header-title col-8 col-md-3 d-flex align-self-center align-items-center">
                <img src="{% static 'web/img/main-logo.png' %}" alt="">
                <p>انجمن علمی مهندسی برق <br class="d-none d-lg-block"> دانشگاه گیلان</p>
            </div>
            <!-- منوی هدر -->
            <div class="navbar d-none d-md-block col-6">
                <ul class="navbar-list d-flex justify-content-between">
                    <li class="navbar-item"><a href="#">صفحه اصلی</a></li>
                    <li class="navbar-item"><a href="#">رویداد ها</a></li>
                    <li class="navbar-item"><a href="#">دروس</a></li>
                    <li class="navbar-item"><a href="#">اساتید</a></li>
                    <li class="navbar-item"><a href="#">تیم ما</a></li>
                    <li class="navbar-item"><a href="#">لینک ها</a></li>
                </ul>
            </div>
            <!-- انتهای منوی هدر -->
            <div class="header-icons col-4 col-md-3 d-flex align-items-center">
                <a href="login.html " class="col-6 col-md-12"><img src="img/icons8-account.png" alt=""
                        class="icon "></a>
                <img src="img/icons8-menu.svg" alt="" class="icon col-6 d-md-none" id="mobile-menu-btn">
            </div>
        </header>
        <!-- ------------------------------------------------------------------------------------------------------------------ -->
        <!-- منوی موبایل  -->
        <div id="mobile-menu">
            <img src="{% static 'web/img/icons8-close-50.png' %}" alt="" id="close-mobile-menu">
            <ul class="mobile-navbar">
                <li class="mobile-navbar-item"><a href="#">صفحه اصلی</a></li>
                <li class="mobile-navbar-item"><a href="#">رویداد ها</a></li>
                <li class="mobile-navbar-item"><a href="#">دروس</a></li>
                <li class="mobile-navbar-item"><a href="#">اساتید</a></li>
                <li class="mobile-navbar-item"><a href="#">تیم ما</a></li>
                <li class="mobile-navbar-item"><a href="#">لینک ها</a></li>
            </ul>
        </div>
        <!-- انتهای منوی موبایل -->
        <!-- ------------------------------------------------------------------------------------------------------------------ -->
        <!-- صفحه اصلی -->
        <main>

            <div class="note d-flex flex-column flex-sm-row">
                <img src="{{prof.Info.Picture_URL}}" alt="" class="prof-pic">
                <div>
                    <h3>{{prof.Info.name}}</h3>
                    <h4>{{prof.role}}</h4>
                    <div class="member-contact">
                        <p>Email Address : {{prof.Info.EmailAddress}}</p>
                        <p>{{prof.About}}</p>
                        <!-- Please Design this Part . -->
                        <a href= "{{prof.Info.GitHub}}">Github</a>
                        <a href= "{{prof.Info.LinkedIn}}">LinkedIn</a>
                    </div>
                </div>
            </div><!--
            {% for prof in Profs %}

            <div class="note d-flex flex-column flex-sm-row">
                <img src="{{prof.Info.Picture_URL}}" alt="" class="prof-pic">
                <div>
                    <h3>{{prof.Info.name}}</h3>
                    <h4>{{prof.role}}</h4>
                    <div class="member-contact">
                        <p>Email Address : {{prof.Info.EmailAddress}}</p>
                        <p>{{prof.About}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}-->
        </main>
        <footer class="d-flex row">
            <div class="col-12 d-flex">
                <img src="{% static 'web/img/GU-logo.svg' %}" alt="" class="footer-logo">
                <img src="{% static 'web/img/EE-logo.png' %}" alt="" class="footer-logo">
            </div>
            <hr>
            <div class="col-12 d-flex row footer-div">
                <div class="col-12 col-sm-4">
                    <h4>دسترسی سریع</h4><br>
                    <ul>
                        <li><a href="#">آدرس</a></li>
                        <li><a href="#">تلفن تماس</a></li>
                        <li><a href="#">ایمیل</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <h4>صفحات</h4><br>
                    <ul>
                        <li><a href="#">صفحه اصلی</a></li>
                        <li><a href="#">رویداد ها</a></li>
                        <li><a href="#">ورکشاپ ها</a></li>
                        <li><a href="#">دروس</a></li>
                        <li><a href="#">درباره ما</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4"></div>
            </div>
        </footer>
        <div class="copy-right row">
            <p>© کلیه حقوق سایت متعلق به انجمن علمی مهندسی برق دانشگاه گیلان می باشد .</p>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>