{% extends 'base_show.html' %}


{% block title %}
    {{title}}
{% endblock title %}
    

{% block main %}
<main>

    <div class="note d-flex flex-column flex-sm-row">
        <img src="{{prof.Info.Picture_URL}}" alt="" class="prof-pic">
        <div>
            <h3>{{prof.Info.name}}</h3>
            <h4>{{prof.role}}</h4>
            <div class="member-contact">
                <p>Email Address : {{prof.Info.EmailAddress}}</p>
                <p>{{prof.About}}</p>
                <!-- Please Design this Part . -->
                <a href= "{{prof.Info.GitHub}}">Github</a>
                <a href= "{{prof.Info.LinkedIn}}">LinkedIn</a>
            </div>
        </div>
</main>
{% endblock main %}
    