{% extends "base.html" %}
{% block title %}
<title>ورود کاربر | انجمن علمی مهندسی برق دانشگاه گیلان</title>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/web/css/login.css" />
{% endblock %}

{% block main %}
<main>
    <form action="register" method="post" id="login-form">
        <label for="login-form" id="div-label">ورود مدیر سایت</label>
        {% csrf_token %}

        <input type="text" name="username" placeholder="نام کاربری" id="useranme">
        <input type="password" name="password1" placeholder="رمز عبور" id="password">
        <input type="Submit" value="ورود" id="submit-btn">

    </form>

    <div>
        % for message in messages %
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
</main>
{% endblock %}