{% extends "manager_base.html" %}
{% block title %}
<title>مدیریت یادداشت ها | انجمن علمی مهندسی برق دانشگاه گیلان</title>
{% endblock %}
{% block main %}
<div class="main-sec d-flex row align-content-start justify-content-between">
    <label for="notes-table" class="col-9">مدیریت یادداشت ها</label>
    <a href="#add-note" class="new-btn col-3 d-flex">
        <p>یادداشت جدید</p>
        <img src="../static/web/img/icons8-add-50.png" alt="">
    </a>
    <table id="notes-table" class="col-12">
        <tr>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>تاریخ</th>
            <th class="icon-td">مشاهده</th>
            <th class="icon-td">ویرایش</th>
            <th class="icon-td">حذف</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td class="txt-td">{{note.title}}</td>
            <td class="txt-td">{{note.writer}}</td>
            <td class="txt-td">{{note.date}}</td>
            <td class="icon-td see"><button><img src="../static/web/img/icons8-eye-50.png" alt=""></button></td>
            <td class="icon-td edit"><button><img src="../static/web/img/icons8-edit-50.png" alt=""></button></td>
            <td class="icon-td delete"><button><img src="../static/web/img/icons8-trash-can-50.png" alt=""></button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <label for="add-note">یادداشت جدید </label>
    <form action="" class="col-12" id="add-note">
        <p>عنوان یادداشت :</p>
        <input type="text" name="" id="">
        <p>متن یادداشت :</p>
        <textarea name="" id="" cols="25" rows="1"></textarea>
        <p>تصویر یادداشت (url) :</p>
        <input type="text" name="" id="">
        <br><br>
        <input type="submit" value="ذخیره">
    </form>
</div>
{% endblock %}